<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список завдань</title>
</head>
<body>
<h1>Мої завдання</h1>


<ul>
    <li th:each="task, iter : ${tasks}">
        <span th:text="${task}">Завдання</span>
        <form action="/delete-task" method="post" style="display:inline;">
            <input type="hidden" name="taskIndex" th:value="${iter.index}">
            <button type="submit">❌</button>
        </form>
    </li>
</ul>



<h2>Додати нове завдання</h2>
<form action="/tasks" method="post">
    <label>Назва завдання:
        <input type="text" name="taskName" required>
    </label>
    <button type="submit">Додати</button>
</form>
</body>
</html>